.casillero-vacio:hover, .casillero-aliado:hover {
    -fx-effect: innershadow(gaussian, aqua, 15, 0, 0, 0);
    -fx-cursor: hand;
}
.casillero-enemigo:hover, .casillero-ocupado:hover {
    -fx-effect: null;
    -fx-cursor: default;
}