.contenedor-principal {
    -fx-background-color: #E6E6E6;
    -fx-pref-width: 450;
    -fx-pref-height: 675;
    -fx-padding: 40 0 90 0;
    -fx-spacing: 30;
    -fx-alignment: center;
}

.btn-empezar {
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-pref-height: 60px;
    -fx-pref-width: 150px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #B22222;
    -fx-border-color: transparent transparent #7C0A02 transparent;
    -fx-border-width: 3px;
}

.btn-empezar:hover {
    -fx-cursor: hand;
    -fx-background-color: #941c1c;
}

.txtfield-jugador {
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-pref-height: 40px;
    -fx-border-color: transparent transparent #666666 transparent;
    -fx-border-width: 3px;
}

.error-input {
    -fx-border-color: transparent transparent #941c1c transparent;
}
.lbl-errores {
    -fx-font-size: 12px;
    -fx-text-fill: #941c1c;
}
.titulo {
    -fx-font-size: 45px;
}

.titulo-algo {
    -fx-text-fill: #666666;
}

.titulo-chess {
    -fx-text-fill: #B22222;
}